@charset "iso-8859-1";
/* CSS Document */

#topo 
{
	float:left;
	width: 1150px;
	height: 200px;
	position: relative;
	top: -8px; 
	left: 80px;
	border: 1px solid #C30;
}

#logo
{
	float:left;
	width: 250px;
	height: 200px;
	border: 1px solid blue;
}

#logo img
{
	margin-left: 50px;
}


#menu
{
	float:left;
	width: 850px;
	height: 50px;
	
	background-color: #000 ;
	border: 1px solid green;
	
}

#menu ul li {
	display: inline-block;
	margin-right: 30px;
}

#menu ul li a {
	text-decoration: none;
}

#menu ul li a:hover {
 color: red !important;
 font-size: 16px;
}

#menu ul li a:active {
    color: red !important;
 font-size: 16px;
}

#menu ul li a:visited {
    color: #fff;
}

#menu ul li a:link {
    color: #fff;
}

#banner_topo
{
	float:left;
	width: 750px;
	height: 150px;
	
	border: 1px solid #9F9;
}

#fullbanner 
{
	margin-top:30px;
	float:left;
	width: 1150px;
	height: 360px;
	border: 1px solid #FC0;
	margin-left: 80px;
}
#galeria
{
	width: 650px;
	height: 300px;
	border: 1px solid #FC0;
	margin-left:260px;

}
#gde {
	width: 250pxpx; 
	height: 280px;
	float:left;
	
	margin-left:5px;
	top: 0px;
}
#gdeIngles
{
	width: 250pxpx; 
	height: 280px;
	float:left;
	
	margin-left:5px;
	top: 0px;

}

#gdeEspanhol
{
	width: 250pxpx; 
	height: 280px;
	float:left;
	
	margin-left:5px;
	top: 0px;

}
#gdeItaliano
{
	width: 250pxpx; 
	height: 280px;
	float:left;
	
	margin-left:5px;
	top: 0px;
}

#gdeBrasil
{
	width: 250pxpx; 
	height: 280px;
	float:left;
	
	margin-left:5px;
	top: 0px;

}

#gdeSelecao
{
	width: 250pxpx; 
	height: 280px;
	float:left;
	
	margin-left:5px;
	top: 0px;

}


#flexa_esq {
	display: table;
	margin-left: 20px ;
	border: 1px solid #9F9;
}

#flexa_dir
{
	float:right;
	display: table;
	margin-right: 60px ;
	margin-top:-50px;
	border: 1px solid #9F9;
}


.flecha{
	float:left;
	height: 50px;
	top: 10px;
}



#imagem {
	
	float:left;
	height: 250px;
	width: 450px;
	margin-left:80px;
	
	border: 1px solid #9F9;
}







#rodape 
{
	float:left;
	width: 1150px;
	height: 80px;
	border: 1px solid #09F ;
	margin-left: 80px;
}
#foto
{
	float:left;
	width: 310px;
	height:350px;
	border: 1px solid #09F ;
	
}




.foto_rodrigo
{
	float:left;
	width: 300px;
	height:350px;
}



#texto
{
	margin-left:10px;
	float:left;
	width: 700px;
	height:300px;
	border: 1px solid black;

}


#texto_contatos
{
	margin-left:200px;
	width: 700px;
	height:300px;
	border: 1px solid black;
}



#opcaes_camisas
{
	
	width: 1100px;
	height:100px;
	border: 1px solid black;
	margin-left:25px;
}


#time_ingles
{
	background-color: #000;
	margin-left:30px;
	float:left;
	width: 200px;
	height:100px;
	border: 1px solid black;
}


#palavra
{
	margin-top:20px;
	width: 100px0px;
	height:50px;
	border: 1px solid black;
}



#time_espanhol
{
	background-color: #000;
	float:left;
	width: 200px;
	height:100px;
	border: 1px solid black;
}


#time_italiano
{
	background-color: #000;
	float:left;
	width: 200px;
	height:100px;
	border: 1px solid black;
}



#time_brasileiro
{
	background-color: #000;
	float:left;
	width: 200px;
	height:100px;
	border: 1px solid black;
}




#time_selecao
{
	background-color: #000;
	float:left;
	width: 200px;
	height:100px;
	border: 1px solid black;
		

}
span.time
{
	font-family: "Times New Roman", serif; font-style: italic;
	font-size:25px;
	color: White;
	
}




div
{
	border: none !important;	
}

